// Sidebar Nav
// ===========

.sidebar-nav {
  display: inline-block;
}

// * Main navigation
.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $main-nav-width;
  height: 100%;
  text-align: center;
  color: $main-nav-link-color;
  background-color: $indigo;

  // Links
  &--links {
    @include reset();
    @extend %vertical-center;
    margin-top: -50px;

    li {
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;
    }
  }

  // Link
  &--link {
    display: inline-block;
    padding: 0 10px;
    margin: auto;
    width: calc(100% - 20px);
    height: $main-nav-link-height;
    line-height: $main-nav-link-height;
    color: $white;
    cursor: pointer;

    // Hover, Focus
    &__active{
      background-color: darken($indigo, 3%);
      border-radius: $border-radius;
    }

    // Icon
    .link-icon {
      font-size: $main-nav-link-icon-size;
    }

    // Top link
    &__top {
      position: absolute;
      left: 0;
      right: 0;
      top: 15px;
    }

    // Bottom link
    &__bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
    }
  }
}

// * Secondary navigation
.secondary-nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: $main-nav-width;
  z-index: 1000;
  padding: 30px;
  width: $secondary-nav-width;
  background-color: $white;
  box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);

  // Header
  &--header {

    // Parent Title
    .parent-title {}
  }

  &--body{}

  // Links
  &--links {
    @include reset();
  }

  // Links
  &--links-sub {
    @include reset();
  }

  // Link
  &--link {
    width: 100%;

    a {
      display: inline-block;
      width: 100%;
      padding: 5px 15px;
    }
  }
}
