<div class="card">
  <div class="card-body">
  <div class="row">
    <div class="col-md-4">
      <div class="container">
  
      </div>
      <p><b>Subjects</b></p>
      <hr>
      <div class="classes-individual">
          <span> Individual classes </span>
          <div class="container">
              <hr>
          </div>
          <div class="class-list">
            
          </div>
      </div>
      <div class="classes-group">
          <span> Group classes </span>
          <div class="container">
              <hr>
          </div>
          <div class="class-list">
              
            </div>
      </div>
  
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
      <div class="container">
        <div class="teacher-name">
          <p> <b>Malinga rathnasekara</b> </p>
        </div>
        <div class="star-rating">
  
        </div>
        <div class="teacher-description">
  
        </div>
        <div class="classs-pricing">
            <div class="row">
                <div class="col-md-6">
                  <p class="individual"></p>
                  <b class="class-price">RS 3000</b>
                </div>
                <div class="col-md-row">
                    <p class="group"></p>
                    <b class="class-price">RS 3000</b>
                </div>
              </div>
        </div>
        <div class="cllass-schedule">
  
        </div>
        <div class="class-actions">
          <button class="btn btn-primary btn-lg"> Edit Class</button>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  </div>