
    <form class="form" novalidate [formGroup]="form" (submit)="submit(form.value)" >
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <ng-select [items]="classNamex"
                    bindLabel="name"
                    bindValue="id"
                    formControlName="className"
                    placeholder="Board Name"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <input class="btn btn-primary" type="submit" name="" id="">
            </div>
        </div>
    </form>
    <div class="card-container">
        <div class="row">
            <div class="col-md-3" *ngFor="let item of myClasses">
                    <div class="card" style="width: 18rem;"  >
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.date}}</p>
                            <p class="card-text">{{item.time}}Hrs</p>
                            <a (click)="goToClass(item)" class="btn btn-primary">Check class</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <hr>
    <div class="card-container">
        <div class="row">
            <div class="col-md-3" *ngFor="let item of classes">
                    <div class="card" style="width: 18rem;"  >
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.date}}</p>
                            <p class="card-text">{{item.time}}Hrs</p>
                            <a (click)="goToClass(item)" class="btn btn-primary">Check class</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>


