<div class="container">

  <div class="row">
    <!-- Onboarding content start -->
    <div class="onboarding-content">

      <!-- Onboarding content header start -->
      <div class="onboarding-content--header">
        <h3 class="page-title">Reset your password</h3>
        <p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
      </div>
      <!-- Onboarding content header end -->

      <!-- Onboarding content body start -->
      <div class="onboarding-content--body">

        <!-- Notifications start -->
        <div class="notifications">
          <div class="alert alert-danger-active alert-dismissible fade show" role="alert">
            <span class="alert-icon">
              <img src="assets/icons/warning-alt.svg">
            </span>
            <span class="alert-text">Your username doesn’t exist!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- Notifications end -->

        <!-- Form start -->
        <form class="form login-form" novalidate>

          <div class="form-group mb-5">
            <label for="loginUsername">Username</label>
            <input type="text" class="form-control is-invalid" id="loginUsername" placeholder="e.g. 0001" value="EM-0001">
          </div>

          <button type="submit" class="btn btn-primary-active submit">Reset password</button>
        </form>
        <!-- Form end -->
      </div>
      <!-- Onboarding content body end -->

      <!-- Onboarding content footer start -->
      <div class="onboarding-content--footer">
        <p class="note">I remember my password.
          <a routerLink="/login">Signin</a>
        </p>
      </div>
      <!-- Onboarding content footer end -->
    </div>
    <!-- Onboarding content end -->
  </div>
  <!-- ./row -->
</div>
<!-- ./container -->